/** @format */
.must-img {
  width: 70px;
  height: auto;
}
.calculator {
  width: 500px;
  border: 1px solid black;
  margin: 10rem auto;
  padding: 2rem;
  border-radius: 20px;
}
.calculator .clear {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.calculator .clear button {
  width: 24%;
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid black;
  background: yellow;
}
.calculator input {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  text-align: center;
  border: 1px solid black;
}
.calculator .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.calculator .buttons button {
  width: 24%;
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid black;
  background: yellow;
}
.calculator .buttons button.num-set {
  background: #fff;
}
.headerMain {
  background: #111;
  padding: 20px;
}
.headerMain .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMain .container .images {
  width: 30%;
  display: flex;
}
.headerMain .container .images img:nth-child(1) {
  width: 10%;
}
.headerMain .container .images img:nth-child(2) {
  width: 30%;
}
.headerMain .container .filter {
  width: 50%;
  position: relative;
}
.headerMain .container .filter input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  border-radius: 10px;
}
.headerMain .container .filter input::placeholder {
  color: #fff;
}
.headerMain .container .filter input:focus + .resultFilter {
  display: block;
}
.headerMain .container .filter .resultFilter {
  position: absolute;
  background: #111;
  color: #fff;
  padding: 20px;
  display: none;
  left: 0;
  top: 102%;
  width: 100%;
}
.headerMain .container .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.headerMain .container .links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 1rem;
}
.headerMain .container .links a:nth-last-child(1) {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
}
.singleMovie {
  display: flex;
  margin: 2rem auto;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}
.singleMovie .images {
  position: relative;
  margin-right: 1rem;
}
.singleMovie .images .must-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.singleMovie .info {
  width: 100%;
}
.singleMovie .info h1 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}
.singleMovie .rate {
  font-size: 25px;
  color: #fff;
  background: #6c3;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}
.resultFilter .singleMovie {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem 0;
  padding: 0;
  border: none;
}
.resultFilter .singleMovie .rate {
  margin-right: 1rem;
}
.space {
  background: url("bg.gif");
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.space .ship {
  width: 7rem;
  position: absolute;
}
.mustsee_movie {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container .image {
  height: 250px;
}
